ClearCare+ Complete Workflow.json
{
  "name": "ClearCare+ Complete Workflow Final",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Symptoms: \"{{ $(\"Symptom Check Webhook\").item.json.body.symptoms }}\"\nLanguage: {{ $json.language }}",
        "options": {
          "systemMessage": "You are the triage assistant for ClearCare+, a health-insurance navigation app for immigrants in Germany. You help users reach the RIGHT TYPE of doctor. You are a navigator, NOT a diagnostician.\n\nRULES:\n1. Recommend ONE doctor type only (e.g. General Practitioner, Dermatologist, Cardiologist, ENT, Orthopedist, Gynecologist, Pediatrician, Psychiatrist, Ophthalmologist, Dentist, Urologist, Gastroenterologist).\n2. NEVER name a disease, diagnosis, or treatment. If asked what is wrong, say you only help find the right doctor.\n3. \"urgency\" is EXACTLY one of: routine, soon, emergency.\n4. EMERGENCY OVERRIDE: if symptoms include red flags (chest pain, difficulty breathing, stroke signs, severe bleeding, fainting, suicidal thoughts, severe allergic reaction) set urgency=emergency, needs_human_review=true, recommended_doctor_type=\"Emergency (call 112)\", and tell the user to call 112 now.\n5. GERMAN REFERRAL RULE: specialists need a GP referral first. Set referral_required=true for a specialist; false for General Practitioner or Emergency.\n6. Write \"explanation_for_user\" in the user's language. Warm, simple, 1-2 sentences, no jargon.\n7. If symptoms are vague, default to General Practitioner. Prefer \"soon\" over \"routine\" if symptoms are painful, worsening, or persistent."
        }
      },
      "id": "61db9197-52e2-4351-a1a9-310a7c83a2f5",
      "name": "Medical Triage Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -432,
        1680
      ]
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {
          "maxTokensToSample": 4096,
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -432,
        1872
      ],
      "id": "3f437dca-2837-4f59-a907-362628619ae0",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "TIKZDJ5VDtZXZTdQ",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "symptom-check",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "c5505963-7b71-40f9-bd80-63dd2075b66e",
      "name": "Symptom Check Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -880,
        1680
      ],
      "webhookId": "cdd4927b-d331-4bb5-b1bd-0e809527ebd6"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "profiles",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.body.user_id }}"
            }
          ]
        }
      },
      "id": "f06a4a06-ada3-4a6b-9765-2c5c9d6b1d13",
      "name": "Load User Profile",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -656,
        1680
      ],
      "credentials": {
        "supabaseApi": {
          "id": "y04Dro1zdqBdHu2V",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.urgency }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "rightValue": "emergency"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Continue"
        }
      },
      "id": "9255659d-efa4-4377-98ef-44e19ac970e2",
      "name": "Route by Urgency",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        368,
        1680
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "recommended_doctor_type",
              "value": "={{ $json.recommended_doctor_type }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "urgency",
              "value": "={{ $json.urgency }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "referral_required",
              "value": "={{ $json.referral_required }}",
              "type": "boolean"
            },
            {
              "id": "4",
              "name": "explanation_for_user",
              "value": "={{ $json.explanation_for_user }}",
              "type": "string"
            },
            {
              "id": "5",
              "name": "doctors",
              "value": "={{ [] }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "422539c4-2589-450f-a709-7c5d7030b4fc",
      "name": "Emergency Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        592,
        1584
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "6c3f0e65-ec9e-4076-b495-cf5b99bf6d8b",
      "name": "Respond Emergency",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        816,
        1584
      ]
    },
    {
      "parameters": {
        "tableId": "consultations",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $(\"Symptom Check Webhook\").item.json.body.user_id }}"
            },
            {
              "fieldId": "symptoms",
              "fieldValue": "={{ $(\"Symptom Check Webhook\").item.json.body.symptoms }}"
            },
            {
              "fieldId": "recommended_doctor_type",
              "fieldValue": "={{ $(\"Code in JavaScript\").item.json.recommended_doctor_type }}"
            },
            {
              "fieldId": "urgency",
              "fieldValue": "={{ $(\"Code in JavaScript\").item.json.urgency }}"
            },
            {
              "fieldId": "referral_required",
              "fieldValue": "={{ $(\"Code in JavaScript\").item.json.referral_required }}"
            },
            {
              "fieldId": "needs_human_review",
              "fieldValue": "={{ $(\"Code in JavaScript\").item.json.needs_human_review }}"
            },
            {
              "fieldId": "language",
              "fieldValue": "={{ $(\"Load User Profile\").item.json.language }}"
            }
          ]
        }
      },
      "id": "6dff39e6-5d1b-42a6-9687-7e8c4f7e1437",
      "name": "Save Consultation",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        592,
        1776
      ],
      "credentials": {
        "supabaseApi": {
          "id": "y04Dro1zdqBdHu2V",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "doctors",
        "limit": 5,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "specialty",
              "condition": "eq",
              "keyValue": "={{ $(\"Code in JavaScript\").item.json.recommended_doctor_type }}"
            },
            {
              "keyName": "city",
              "condition": "eq",
              "keyValue": "={{ $(\"Load User Profile\").item.json.city }}"
            }
          ]
        }
      },
      "id": "58306876-1f7b-4d96-a4f0-658004f14a35",
      "name": "Find Matching Doctors",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        816,
        1776
      ],
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "y04Dro1zdqBdHu2V",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "recommended_doctor_type",
              "value": "={{ $(\"Code in JavaScript\").item.json.recommended_doctor_type }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "urgency",
              "value": "={{ $(\"Code in JavaScript\").item.json.urgency }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "referral_required",
              "value": "={{ $(\"Code in JavaScript\").item.json.referral_required }}",
              "type": "boolean"
            },
            {
              "id": "4",
              "name": "explanation_for_user",
              "value": "={{ $(\"Code in JavaScript\").item.json.explanation_for_user }}",
              "type": "string"
            },
            {
              "id": "5",
              "name": "doctors",
              "value": "={{ $(\"Find Matching Doctors\").all().map(d => d.json) }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "9d5e03c4-3536-44e9-ae9c-debdf00614af",
      "name": "Merge Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1040,
        1776
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "b820bcc6-2373-4799-ba76-6fab48bbb41b",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1264,
        1776
      ]
    },
    {
      "parameters": {
        "content": "## FLOW 1: Symptom Triage + Doctor Matching\nReceives symptoms, loads user profile, runs AI triage, routes emergencies, saves consultation, finds matching doctors, and responds with recommendations.",
        "height": 280,
        "width": 336,
        "color": 2
      },
      "id": "1db0e270-22f0-4690-ab90-fcac35d84cef",
      "name": "Sticky Note 1ac11208",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1296,
        1616
      ]
    },
    {
      "parameters": {
        "content": "## FLOW 2: Find Doctors (live)\nGeocodes the user's postcode via Nominatim, queries OpenStreetMap (Overpass) for nearby doctors, normalizes the results, and responds with the list.",
        "height": 256,
        "width": 336,
        "color": 3
      },
      "id": "a5ddcfd7-8b69-4873-8e81-d252fc9ae032",
      "name": "Sticky Note 0ee0e56d",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1296,
        2064
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let t = ($json.output || \"\").trim();\nt = t.replace(/^```(?:json)?/i, \"\").replace(/```$/, \"\").trim();\n\nlet parsed;\ntry {\n  parsed = JSON.parse(t);                       // clean JSON case\n} catch (e) {\n  // Fallback: pull each field out of \"Key: value\" text\n  const get = (k) => {\n    const m = t.match(new RegExp(k + '\\\\s*[:=]\\\\s*\"?([^\"\\\\n]+)\"?', \"i\"));\n    return m ? m[1].trim() : null;\n  };\n  parsed = {\n    recommended_doctor_type: get(\"recommended_doctor_type\") || \"General Practitioner\",\n    urgency: (get(\"urgency\") || \"routine\").toLowerCase(),\n    referral_required: /true/i.test(get(\"referral_required\") || \"\"),\n    needs_human_review: /true/i.test(get(\"needs_human_review\") || \"\"),\n    explanation_for_user: get(\"explanation_for_user\") || t\n  };\n}\nreturn { json: parsed };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        1680
      ],
      "id": "2c6da60d-3b57-46e8-9891-71416bce085c",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        144,
        1680
      ],
      "id": "47cef1ad-eea8-4acd-ab63-f2e77ae5e105",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "find-doctors",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "a518e567-634f-455d-9810-85f29abd8eb1",
      "name": "Find Doctors Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -880,
        2144
      ],
      "webhookId": "fd-webhook-uuid-001"
    },
    {
      "parameters": {
        "url": "https://nominatim.openstreetmap.org/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "postalcode",
              "value": "={{ $json.body.postcode }}"
            },
            {
              "name": "country",
              "value": "Germany"
            },
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "ClearCarePlus/1.0 (student project)"
            }
          ]
        },
        "options": {}
      },
      "id": "4c008421-ab1b-4511-affc-ad2e39918edd",
      "name": "Geocode (Nominatim)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -656,
        2144
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://overpass-api.de/api/interpreter",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "data",
              "value": "=[out:json][timeout:25];\n(\n  node[\"amenity\"=\"doctors\"](around:6000,{{ $json.lat || $json[0].lat }},{{ $json.lon || $json[0].lon }});\n  node[\"healthcare\"=\"doctor\"](around:6000,{{ $json.lat || $json[0].lat }},{{ $json.lon || $json[0].lon }});\n);\nout body 60;"
            }
          ]
        },
        "options": {}
      },
      "id": "742d7f34-ec62-4dae-b554-779b2646d9a3",
      "name": "Overpass (Find Doctors)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -432,
        2144
      ]
    },
    {
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nconst els = resp.elements || [];\nconst MAP = { general:\"General Practitioner\", dermatology:\"Dermatologist\", cardiology:\"Cardiologist\", paediatrics:\"Pediatrician\", gynaecology:\"Gynecologist\", orthopaedics:\"Orthopedist\", psychiatry:\"Psychiatrist\", ophthalmology:\"Ophthalmologist\", otolaryngology:\"ENT\" };\nreturn els.filter(e => e.tags && e.tags.name).map(e => {\n  const t = e.tags;\n  const s = (t[\"healthcare:speciality\"] || \"\").split(\";\")[0].trim().toLowerCase();\n  return { json: {\n    osm_id: \"osm-\" + e.id,\n    name: t.name,\n    specialty: MAP[s] || (s || \"General Practitioner\"),\n    languages: t[\"language\"] || \"\",\n    street: [t[\"addr:street\"], t[\"addr:housenumber\"]].filter(Boolean).join(\" \"),\n    postcode: t[\"addr:postcode\"] || \"\",\n    city: t[\"addr:city\"] || \"\",\n    lat: e.lat, lon: e.lon,\n    phone: t.phone || t[\"contact:phone\"] || \"\",\n    website: t.website || t[\"contact:website\"] || \"\",\n    source: \"OSM\"\n  } };\n});"
      },
      "id": "ba62865e-f38e-4f0d-b251-e638cbc05407",
      "name": "Normalize Doctors",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        2144
      ]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "8a772a36-350e-44b6-a911-f9f772e4ba62",
      "name": "Respond Doctors",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        16,
        2144
      ]
    },
    {
      "parameters": {
        "tableId": "appointments",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $json.body.user_id }}"
            },
            {
              "fieldId": "doctor_name",
              "fieldValue": "={{ $json.body.doctor_name }}"
            },
            {
              "fieldId": "doctor_specialty",
              "fieldValue": "={{ $json.body.doctor_specialty }}"
            },
            {
              "fieldId": "doctor_address",
              "fieldValue": "={{ $json.body.doctor_address }}"
            },
            {
              "fieldId": "datetime",
              "fieldValue": "={{ $json.body.datetime }}"
            }
          ]
        }
      },
      "id": "4a74be20-89d0-49e9-a616-f07e60b6e864",
      "name": "Create Appointment1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -656,
        2464
      ],
      "credentials": {
        "supabaseApi": {
          "id": "y04Dro1zdqBdHu2V",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"confirmed\" } }}",
        "options": {}
      },
      "id": "c4cd00e1-f2f9-4a91-abc7-8c20e1c3d861",
      "name": "Respond Booking1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -432,
        2464
      ]
    },
    {
      "parameters": {
        "content": "## FLOW 3: Booking\nReceives booking request, creates appointment in Supabase, sends confirmation email, and responds with status.",
        "height": 216,
        "width": 336,
        "color": 4
      },
      "id": "7e7e2efb-25d2-41ac-85a9-667a76cda196",
      "name": "Sticky Note a84fa8de1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1296,
        2416
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "book-appointment",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "7d69d304-00e3-461d-9b21-e40fef1426c5",
      "name": "Booking Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -880,
        2464
      ],
      "webhookId": "fc581d3f-604e-454f-a92f-316da3d3cdcf"
    },
    {
      "parameters": {
        "content": "## FLOW 4: Registration + Email Confirmation & Resend (Mailjet)\nMirrors the app's signup (script.js handleRegister / resendConfirmation), but surfaces the Mailjet email send as its own visible node for the demo.\n\n- **Register**: `Supabase Admin: Generate Link` -> `Build Confirmation Email` -> `Send via Mailjet` -> respond.\n- **Resend**: same chain, regenerating a fresh link for an unconfirmed account.\n\n### Why admin generate_link (not /signup)?\nIn the live app, Mailjet is Supabase's custom SMTP relay, so calling `/auth/v1/signup` makes Supabase AUTO-SEND the confirmation email (invisible to n8n). To show the Mailjet send as an explicit step WITHOUT sending a duplicate, this flow uses `/auth/v1/admin/generate_link` (type=signup): it creates the user and RETURNS the confirmation `action_link` but does NOT auto-send. The `Build Confirmation Email` Code node injects that link into the branded template (SQL/email-template-confirm-signup.html), and `Send via Mailjet` POSTs it to the Mailjet Send API v3.1.\n\n### Setup before running\n1. Replace `YOUR_SUPABASE_SERVICE_ROLE_KEY` (both Generate Link nodes) with the Supabase SERVICE ROLE key. It is a SECRET - server-side only; never ship it in the browser app.\n2. Create an n8n **Basic Auth** credential named \"Mailjet API (key:secret)\": username = Mailjet API Key, password = Mailjet Secret Key.\n3. The `From` address is `ClearCare+ <clearcareplus.de@gmail.com>` (your Mailjet-verified sender). Recipients see it as \"via bnc3.mailjet.com\" until a custom domain/DKIM is set up in Mailjet.\n\nSame email, same template, same outcome as the live app - the mechanic is just made visible here.",
        "height": 620,
        "width": 332,
        "color": 5
      },
      "id": "be6e4219-08a1-415f-a340-81cc1aa7bf05",
      "name": "Sticky Note Flow4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1296,
        2752
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "register",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "53a474a9-0c2d-4bbb-9611-db68d646f1e0",
      "name": "Register Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -880,
        2848
      ],
      "webhookId": "a1b2c3d4-0001-4aaa-bbbb-registerhook01"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ossxctklhsoiiigixuvt.supabase.co/auth/v1/admin/generate_link",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "YOUR_SUPABASE_SERVICE_ROLE_KEY"
            },
            {
              "name": "Authorization",
              "value": "YOUR_SUPABASE_SERVICE_ROLE_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"type\": \"signup\",\n  \"email\": \"{{ $json.body.email }}\",\n  \"password\": \"{{ $json.body.password }}\",\n  \"data\": {\n    \"first_name\": \"{{ $json.body.first_name }}\",\n    \"last_name\": \"{{ $json.body.last_name }}\",\n    \"birthdate\": \"{{ $json.body.birthdate }}\",\n    \"language\": \"{{ $json.body.language }}\"\n  },\n  \"redirect_to\": \"https://pcsphsb.github.io/clearcare-plus/index.html\"\n}",
        "options": {}
      },
      "id": "8d02ed0e-91c5-4eb1-b7bb-b7cc4b7e68e7",
      "name": "Supabase Admin: Generate Link",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -656,
        2848
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "poX0seROewnVCwiC",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const d = $json || {};\nconst link = d.action_link || (d.properties && d.properties.action_link) || '';\nconst email = $('Register Webhook').item.json.body.email;\nconst html = `<table role='presentation' width='100%' cellpadding='0' cellspacing='0' style='background:#e8f0f5;margin:0;padding:32px 0;font-family:Arial,Helvetica,sans-serif;'><tr><td align='center'><table role='presentation' width='100%' cellpadding='0' cellspacing='0' style='max-width:480px;background:#ffffff;border-radius:20px;overflow:hidden;border:1px solid #d9e4ea;'><tr><td style='background:linear-gradient(135deg,#0a6b85,#12a89d);padding:36px 32px;text-align:center;'><h1 style='margin:12px 0 4px;color:#ffffff;font-size:24px;font-weight:700;'>ClearCare+</h1><p style='margin:0;color:#d7f0ec;font-size:13px;'>Clear words, Clear care.</p></td></tr><tr><td style='padding:32px;'><h2 style='margin:0 0 12px;color:#1f2d33;font-size:19px;font-weight:700;'>Confirm your email</h2><p style='margin:0 0 20px;color:#5b7a8a;font-size:15px;line-height:1.6;'>Welcome to ClearCare+. You are one step away from booking care in your own language. Please confirm your email to activate your account.</p><table role='presentation' cellpadding='0' cellspacing='0' style='margin:0 auto 24px;'><tr><td align='center' style='border-radius:14px;background:linear-gradient(135deg,#0a6b85,#12a89d);'><a href='${link}' style='display:inline-block;padding:14px 32px;color:#ffffff;font-size:15px;font-weight:700;text-decoration:none;border-radius:14px;'>Confirm my email</a></td></tr></table><p style='margin:0 0 8px;color:#5b7a8a;font-size:13px;line-height:1.6;'>If the button does not work, copy and paste this link into your browser:</p><p style='margin:0 0 24px;font-size:13px;line-height:1.5;word-break:break-all;'><a href='${link}' style='color:#0a6b85;'>${link}</a></p><p style='margin:0;color:#9bb0bc;font-size:12px;line-height:1.6;border-top:1px solid #e3edf2;padding-top:16px;'>If you did not create a ClearCare+ account, you can safely ignore this email.</p></td></tr><tr><td style='background:#f5f9fc;padding:18px 32px;text-align:center;'><p style='margin:0;color:#9bb0bc;font-size:11px;'>ClearCare+ . Healthcare booking made clear.</p></td></tr></table></td></tr></table>`;\nreturn { json: { to: email, subject: 'Confirm your ClearCare+ email', fromEmail: 'clearcareplus.de@gmail.com', fromName: 'ClearCare+', html } };"
      },
      "id": "0169be55-6b6e-4492-be3a-d42c530ff0f6",
      "name": "Build Confirmation Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -432,
        2848
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mailjet.com/v3.1/send",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"Messages\": [\n    {\n      \"From\": { \"Email\": \"{{ $json.fromEmail }}\", \"Name\": \"{{ $json.fromName }}\" },\n      \"To\": [ { \"Email\": \"{{ $json.to }}\" } ],\n      \"Subject\": \"{{ $json.subject }}\",\n      \"HTMLPart\": {{ JSON.stringify($json.html) }}\n    }\n  ]\n}",
        "options": {}
      },
      "id": "381defb7-7c63-477d-9f1a-ef8cf8317ef6",
      "name": "Send via Mailjet",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -208,
        2848
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "poX0seROewnVCwiC",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"confirmation_sent\", \"email\": $('Register Webhook').item.json.body.email } }}",
        "options": {}
      },
      "id": "75195777-4d9e-47a8-a654-b0d04eac81c7",
      "name": "Respond Registration",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        16,
        2848
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "resend-confirmation",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "c6867ab1-ac20-47ac-9252-82d01431974c",
      "name": "Resend Confirmation Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -880,
        3072
      ],
      "webhookId": "a1b2c3d4-0002-4aaa-bbbb-resendhook002"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ossxctklhsoiiigixuvt.supabase.co/auth/v1/admin/generate_link",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "YOUR_SUPABASE_SERVICE_ROLE_KEY"
            },
            {
              "name": "Authorization",
              "value": "YOUR_SUPABASE_SERVICE_ROLE_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"type\": \"signup\",\n  \"email\": \"{{ $json.body.email }}\",\n  \"redirect_to\": \"https://pcsphsb.github.io/clearcare-plus/index.html\"\n}",
        "options": {}
      },
      "id": "0fe2cced-ed45-48ea-80f8-ef5f3c626c77",
      "name": "Supabase Admin: Generate Link (Resend)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -656,
        3072
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const d = $json || {};\nconst link = d.action_link || (d.properties && d.properties.action_link) || '';\nconst email = $('Resend Confirmation Webhook').item.json.body.email;\nconst html = `<table role='presentation' width='100%' cellpadding='0' cellspacing='0' style='background:#e8f0f5;margin:0;padding:32px 0;font-family:Arial,Helvetica,sans-serif;'><tr><td align='center'><table role='presentation' width='100%' cellpadding='0' cellspacing='0' style='max-width:480px;background:#ffffff;border-radius:20px;overflow:hidden;border:1px solid #d9e4ea;'><tr><td style='background:linear-gradient(135deg,#0a6b85,#12a89d);padding:36px 32px;text-align:center;'><h1 style='margin:12px 0 4px;color:#ffffff;font-size:24px;font-weight:700;'>ClearCare+</h1><p style='margin:0;color:#d7f0ec;font-size:13px;'>Clear words, Clear care.</p></td></tr><tr><td style='padding:32px;'><h2 style='margin:0 0 12px;color:#1f2d33;font-size:19px;font-weight:700;'>Confirm your email</h2><p style='margin:0 0 20px;color:#5b7a8a;font-size:15px;line-height:1.6;'>Welcome to ClearCare+. You are one step away from booking care in your own language. Please confirm your email to activate your account.</p><table role='presentation' cellpadding='0' cellspacing='0' style='margin:0 auto 24px;'><tr><td align='center' style='border-radius:14px;background:linear-gradient(135deg,#0a6b85,#12a89d);'><a href='${link}' style='display:inline-block;padding:14px 32px;color:#ffffff;font-size:15px;font-weight:700;text-decoration:none;border-radius:14px;'>Confirm my email</a></td></tr></table><p style='margin:0 0 8px;color:#5b7a8a;font-size:13px;line-height:1.6;'>If the button does not work, copy and paste this link into your browser:</p><p style='margin:0 0 24px;font-size:13px;line-height:1.5;word-break:break-all;'><a href='${link}' style='color:#0a6b85;'>${link}</a></p><p style='margin:0;color:#9bb0bc;font-size:12px;line-height:1.6;border-top:1px solid #e3edf2;padding-top:16px;'>If you did not create a ClearCare+ account, you can safely ignore this email.</p></td></tr><tr><td style='background:#f5f9fc;padding:18px 32px;text-align:center;'><p style='margin:0;color:#9bb0bc;font-size:11px;'>ClearCare+ . Healthcare booking made clear.</p></td></tr></table></td></tr></table>`;\nreturn { json: { to: email, subject: 'Confirm your ClearCare+ email', fromEmail: 'clearcareplus.de@gmail.com', fromName: 'ClearCare+', html } };"
      },
      "id": "3bd821e0-72bb-4c12-86a9-50ae59a9d2e4",
      "name": "Build Confirmation Email (Resend)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -432,
        3072
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mailjet.com/v3.1/send",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"Messages\": [\n    {\n      \"From\": { \"Email\": \"{{ $json.fromEmail }}\", \"Name\": \"{{ $json.fromName }}\" },\n      \"To\": [ { \"Email\": \"{{ $json.to }}\" } ],\n      \"Subject\": \"{{ $json.subject }}\",\n      \"HTMLPart\": {{ JSON.stringify($json.html) }}\n    }\n  ]\n}",
        "options": {}
      },
      "id": "567515cb-6ae6-4c79-8cbd-22ceef35933e",
      "name": "Send via Mailjet (Resend)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -208,
        3072
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "poX0seROewnVCwiC",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"resent\" } }}",
        "options": {}
      },
      "id": "d75e5db9-ac4f-4471-9046-bb073a56ccfc",
      "name": "Respond Resend",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        16,
        3072
      ]
    },
    {
      "parameters": {
        "content": "## FUTURE FEATURE: Emergency Response\nFuture feature branch which will include a smarter AI to identify possible emergency situations. Currently only identifies \"Chest Pain\" as an emergency from prior node (Route by Emergency)",
        "height": 184,
        "width": 544,
        "color": 2
      },
      "id": "a4e0b8a3-088e-4822-a181-340c058802ba",
      "name": "Sticky Note 1ac",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        496,
        1360
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Medical Triage Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Medical Triage Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Symptom Check Webhook": {
      "main": [
        [
          {
            "node": "Load User Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load User Profile": {
      "main": [
        [
          {
            "node": "Medical Triage Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Urgency": {
      "main": [
        [
          {
            "node": "Emergency Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save Consultation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Emergency Message": {
      "main": [
        [
          {
            "node": "Respond Emergency",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Consultation": {
      "main": [
        [
          {
            "node": "Find Matching Doctors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Matching Doctors": {
      "main": [
        [
          {
            "node": "Merge Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Response": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Route by Urgency",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Doctors Webhook": {
      "main": [
        [
          {
            "node": "Geocode (Nominatim)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Geocode (Nominatim)": {
      "main": [
        [
          {
            "node": "Overpass (Find Doctors)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Overpass (Find Doctors)": {
      "main": [
        [
          {
            "node": "Normalize Doctors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Doctors": {
      "main": [
        [
          {
            "node": "Respond Doctors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Appointment1": {
      "main": [
        [
          {
            "node": "Respond Booking1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Booking Webhook": {
      "main": [
        [
          {
            "node": "Create Appointment1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Register Webhook": {
      "main": [
        [
          {
            "node": "Supabase Admin: Generate Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Admin: Generate Link": {
      "main": [
        [
          {
            "node": "Build Confirmation Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Confirmation Email": {
      "main": [
        [
          {
            "node": "Send via Mailjet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send via Mailjet": {
      "main": [
        [
          {
            "node": "Respond Registration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resend Confirmation Webhook": {
      "main": [
        [
          {
            "node": "Supabase Admin: Generate Link (Resend)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Admin: Generate Link (Resend)": {
      "main": [
        [
          {
            "node": "Build Confirmation Email (Resend)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Confirmation Email (Resend)": {
      "main": [
        [
          {
            "node": "Send via Mailjet (Resend)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send via Mailjet (Resend)": {
      "main": [
        [
          {
            "node": "Respond Resend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "e87e65af-8801-4132-8e32-2b793a55decb",
  "meta": {
    "instanceId": "be9b52dc8252215ea5a92389938ac9df68d87ce36092a9341a708e5263b4fcdb"
  },
  "nodeGroups": [],
  "id": "UoiEjg9Vsxotymhi",
  "tags": []
}