Audit/Documentation/Workflow JSON SQL/ClearCare+ Medical Triage.json
{
  "name": "ClearCare+ Medical Triage",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Symptoms: \"{{ $(\"Symptom Check Webhook\").item.json.body.symptoms }}\"\nLanguage: {{ $json.language }}",
        "options": {
          "systemMessage": "You are the triage assistant for ClearCare+, a health-insurance navigation app for immigrants in Germany. You help users reach the RIGHT TYPE of doctor. You are a navigator, NOT a diagnostician.\n\nRULES:\n1. Recommend ONE doctor type only (e.g. General Practitioner, Dermatologist, Cardiologist, ENT, Orthopedist, Gynecologist, Pediatrician, Psychiatrist, Ophthalmologist, Dentist, Urologist, Gastroenterologist).\n2. NEVER name a disease, diagnosis, or treatment. If asked what is wrong, say you only help find the right doctor.\n3. \"urgency\" is EXACTLY one of: routine, soon, emergency.\n4. EMERGENCY OVERRIDE: if symptoms include red flags (chest pain, difficulty breathing, stroke signs, severe bleeding, fainting, suicidal thoughts, severe allergic reaction) set urgency=emergency, needs_human_review=true, recommended_doctor_type=\"Emergency (call 112)\", and tell the user to call 112 now.\n5. GERMAN REFERRAL RULE: specialists need a GP referral first. Set referral_required=true for a specialist; false for General Practitioner or Emergency.\n6. Write \"explanation_for_user\" in the user's language. Warm, simple, 1-2 sentences, no jargon.\n7. If symptoms are vague, default to General Practitioner. Prefer \"soon\" over \"routine\" if symptoms are painful, worsening, or persistent."
        }
      },
      "id": "450de891-7eb1-4a2a-9bb9-4a4a4dbffd8c",
      "name": "Medical Triage Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        704,
        32
      ]
    },
    {
      "parameters": {
        "jsonSchemaExample": {
          "recommended_doctor_type": "General Practitioner",
          "urgency": "routine",
          "referral_required": false,
          "needs_human_review": false,
          "explanation_for_user": "Based on your symptoms, I recommend seeing a General Practitioner."
        }
      },
      "id": "19037727-d220-4c9b-87ad-5ccb1f17df83",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        848,
        256
      ]
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {
          "maxTokensToSample": 4096,
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        704,
        256
      ],
      "id": "0b722d1a-1aaa-42f7-aa8f-688b34efa25e",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "TIKZDJ5VDtZXZTdQ",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "symptom-check",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "153534aa-5da7-4456-9655-38d2cdb87181",
      "name": "Symptom Check Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        256,
        144
      ],
      "webhookId": "cdd4927b-d331-4bb5-b1bd-0e809527ebd6"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "profiles",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.body.user_id }}"
            }
          ]
        }
      },
      "id": "79614dd2-32df-4f58-9b6e-ff2b6edc6c7b",
      "name": "Load User Profile",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        480,
        144
      ],
      "credentials": {
        "supabaseApi": {
          "id": "y04Dro1zdqBdHu2V",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.urgency }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "rightValue": "emergency"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Continue"
        }
      },
      "id": "4c77a4e6-bfb2-4216-9abc-e333803ae063",
      "name": "Route by Urgency",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1248,
        128
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "recommended_doctor_type",
              "value": "={{ $json.output.recommended_doctor_type }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "urgency",
              "value": "={{ $json.output.urgency }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "referral_required",
              "value": "={{ $json.output.referral_required }}",
              "type": "boolean"
            },
            {
              "id": "4",
              "name": "explanation_for_user",
              "value": "={{ $json.output.explanation_for_user }}",
              "type": "string"
            },
            {
              "id": "5",
              "name": "doctors",
              "value": "={{ [] }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "294d8e1a-f657-4524-8fea-14eea1bade3a",
      "name": "Emergency Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1488,
        48
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "d9475e0f-b751-4fd7-84d5-01b984ecbb66",
      "name": "Respond Emergency",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1712,
        48
      ]
    },
    {
      "parameters": {
        "tableId": "consultations",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $(\"Symptom Check Webhook\").item.json.body.user_id }}"
            },
            {
              "fieldId": "symptoms",
              "fieldValue": "={{ $(\"Symptom Check Webhook\").item.json.body.symptoms }}"
            },
            {
              "fieldId": "recommended_doctor_type",
              "fieldValue": "={{ $(\"Medical Triage Agent\").item.json.output.recommended_doctor_type }}"
            },
            {
              "fieldId": "urgency",
              "fieldValue": "={{ $(\"Medical Triage Agent\").item.json.output.urgency }}"
            },
            {
              "fieldId": "referral_required",
              "fieldValue": "={{ $(\"Medical Triage Agent\").item.json.output.referral_required }}"
            },
            {
              "fieldId": "needs_human_review",
              "fieldValue": "={{ $(\"Medical Triage Agent\").item.json.output.needs_human_review }}"
            },
            {
              "fieldId": "language",
              "fieldValue": "={{ $(\"Load User Profile\").item.json.language }}"
            }
          ]
        }
      },
      "id": "84ee4637-d890-4bdb-90fc-b2b652f08c6a",
      "name": "Save Consultation",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1488,
        240
      ],
      "credentials": {
        "supabaseApi": {
          "id": "y04Dro1zdqBdHu2V",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "doctors",
        "limit": 5,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "specialty",
              "condition": "eq",
              "keyValue": "={{ $(\"Medical Triage Agent\").item.json.output.recommended_doctor_type }}"
            },
            {
              "keyName": "insurance_company",
              "condition": "eq",
              "keyValue": "={{ $(\"Load User Profile\").item.json.insurance_company }}"
            },
            {
              "keyName": "city",
              "condition": "eq",
              "keyValue": "={{ $(\"Load User Profile\").item.json.city }}"
            }
          ]
        }
      },
      "id": "43bac3f6-fbbb-4900-abac-5b20f6616cf0",
      "name": "Find Matching Doctors",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1712,
        240
      ],
      "credentials": {
        "supabaseApi": {
          "id": "y04Dro1zdqBdHu2V",
          "name": "Supabase account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "recommended_doctor_type",
              "value": "={{ $(\"Medical Triage Agent\").item.json.output.recommended_doctor_type }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "urgency",
              "value": "={{ $(\"Medical Triage Agent\").item.json.output.urgency }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "referral_required",
              "value": "={{ $(\"Medical Triage Agent\").item.json.output.referral_required }}",
              "type": "boolean"
            },
            {
              "id": "4",
              "name": "explanation_for_user",
              "value": "={{ $(\"Medical Triage Agent\").item.json.output.explanation_for_user }}",
              "type": "string"
            },
            {
              "id": "5",
              "name": "doctors",
              "value": "={{ $(\"Find Matching Doctors\").all().map(d => d.json) }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "95b02bc2-d81b-4da3-a433-751261c1f76e",
      "name": "Merge Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1936,
        240
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "98c759bb-c688-4f4e-b03a-a85857ded5f6",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2160,
        240
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "register-hook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "02843c04-80b2-45a6-948b-39a3f76dacc9",
      "name": "Register Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        256,
        656
      ],
      "webhookId": "19b3c6a6-c4c1-45fe-9b04-f80e702d8479"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "profiles",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.body.user_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "email",
              "fieldValue": "={{ $json.body.email }}"
            },
            {
              "fieldId": "first_name",
              "fieldValue": "={{ $json.body.first_name }}"
            },
            {
              "fieldId": "last_name",
              "fieldValue": "={{ $json.body.last_name }}"
            },
            {
              "fieldId": "language",
              "fieldValue": "={{ $json.body.language }}"
            }
          ]
        }
      },
      "id": "62691717-01d5-4ffb-8b83-dfa73844d31d",
      "name": "Upsert Profile",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        480,
        656
      ],
      "credentials": {
        "supabaseApi": {
          "id": "y04Dro1zdqBdHu2V",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "noreply@medicareplus.de",
        "toEmail": "={{ $json.email }}",
        "subject": "Welcome to ClearCare+",
        "html": "=Hello {{ $json.first_name }},\n\nWelcome to ClearCare+! We are here to help you navigate the German healthcare system.\n\nBest regards,\nThe ClearCare+ Team",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "adac1584-4a0d-4e38-b682-5830c5de638e",
      "name": "Send Welcome Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        704,
        656
      ],
      "webhookId": "4f6efa4d-f426-4fb2-a97b-13b0af35b1ea"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"ok\" } }}",
        "options": {}
      },
      "id": "211decea-4388-47dc-995c-b8e18a3d62f4",
      "name": "Respond Register",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        928,
        656
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "book-appointment",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "c3504e8b-8659-4a3e-a2d6-d0a64fd72126",
      "name": "Booking Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        256,
        1056
      ],
      "webhookId": "fc581d3f-604e-454f-a92f-316da3d3cdcf"
    },
    {
      "parameters": {
        "tableId": "appointments",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $json.body.user_id }}"
            },
            {
              "fieldId": "doctor_id",
              "fieldValue": "={{ $json.body.doctor_id }}"
            },
            {
              "fieldId": "datetime",
              "fieldValue": "={{ $json.body.datetime }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "confirmed"
            }
          ]
        }
      },
      "id": "5196451c-486d-44c9-8c0a-92bb4f3c2d41",
      "name": "Create Appointment",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        480,
        1056
      ],
      "credentials": {
        "supabaseApi": {
          "id": "y04Dro1zdqBdHu2V",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "noreply@medicareplus.de",
        "toEmail": "<__PLACEHOLDER_VALUE__User email address__>",
        "subject": "Appointment Confirmed",
        "html": "=Your appointment has been confirmed for {{ $json.datetime }}.\n\nThank you for using ClearCare+!",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "c9251f2b-8555-4170-8126-b5d194158b35",
      "name": "Send Booking Confirmation",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        704,
        1056
      ],
      "webhookId": "23635063-4827-406b-be92-cd227285cdef"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"confirmed\" } }}",
        "options": {}
      },
      "id": "2961c66b-9662-41df-80d2-1f9accff1bfa",
      "name": "Respond Booking",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        928,
        1056
      ]
    },
    {
      "parameters": {
        "content": "## FLOW 1: Symptom Triage + Doctor Matching\nReceives symptoms, loads user profile, runs AI triage, routes emergencies, saves consultation, finds matching doctors, and responds with recommendations.",
        "height": 552,
        "width": 2640,
        "color": 2
      },
      "id": "b917499f-53c5-45d1-905f-064f113d3671",
      "name": "Sticky Note 1ac11208",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        160,
        -112
      ]
    },
    {
      "parameters": {
        "content": "## FLOW 2: Registration\nReceives user registration data, upserts profile in Supabase, sends welcome email, and responds with success.",
        "height": 320,
        "width": 1072,
        "color": 3
      },
      "id": "2ec2f8c7-d069-42d0-aa87-d2a3ba1ca49b",
      "name": "Sticky Note 0ee0e56d",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        160,
        512
      ]
    },
    {
      "parameters": {
        "content": "## FLOW 3: Booking\nReceives booking request, creates appointment in Supabase, sends confirmation email, and responds with status.",
        "height": 344,
        "width": 1072,
        "color": 4
      },
      "id": "55724881-c5fe-4157-b91b-13f773e8e65b",
      "name": "Sticky Note a84fa8de",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        160,
        896
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let t = ($json.output || \"\").trim();\nt = t.replace(/^```(?:json)?/i, \"\").replace(/```$/, \"\").trim();\n\nlet parsed;\ntry {\n  parsed = JSON.parse(t);                       // clean JSON case\n} catch (e) {\n  // Fallback: pull each field out of \"Key: value\" text\n  const get = (k) => {\n    const m = t.match(new RegExp(k + '\\\\s*[:=]\\\\s*\"?([^\"\\\\n]+)\"?', \"i\"));\n    return m ? m[1].trim() : null;\n  };\n  parsed = {\n    recommended_doctor_type: get(\"recommended_doctor_type\") || \"General Practitioner\",\n    urgency: (get(\"urgency\") || \"routine\").toLowerCase(),\n    referral_required: /true/i.test(get(\"referral_required\") || \"\"),\n    needs_human_review: /true/i.test(get(\"needs_human_review\") || \"\"),\n    explanation_for_user: get(\"explanation_for_user\") || t\n  };\n}\nreturn { json: parsed };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        32
      ],
      "id": "82c89f65-650c-48b2-ac55-9b6ac992f84e",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1024,
        240
      ],
      "id": "06b364b7-5062-41bd-8cff-32fe1dc382bc",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Medical Triage Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        []
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Medical Triage Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Symptom Check Webhook": {
      "main": [
        [
          {
            "node": "Load User Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load User Profile": {
      "main": [
        [
          {
            "node": "Medical Triage Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Urgency": {
      "main": [
        [
          {
            "node": "Emergency Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save Consultation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Emergency Message": {
      "main": [
        [
          {
            "node": "Respond Emergency",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Consultation": {
      "main": [
        [
          {
            "node": "Find Matching Doctors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Matching Doctors": {
      "main": [
        [
          {
            "node": "Merge Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Response": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Register Webhook": {
      "main": [
        [
          {
            "node": "Upsert Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Profile": {
      "main": [
        [
          {
            "node": "Send Welcome Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Welcome Email": {
      "main": [
        [
          {
            "node": "Respond Register",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Booking Webhook": {
      "main": [
        [
          {
            "node": "Create Appointment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Appointment": {
      "main": [
        [
          {
            "node": "Send Booking Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Booking Confirmation": {
      "main": [
        [
          {
            "node": "Respond Booking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Route by Urgency",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 180
  },
  "versionId": "c81ffaf5-fc74-4db3-8de1-1497d78a93de",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "be9b52dc8252215ea5a92389938ac9df68d87ce36092a9341a708e5263b4fcdb"
  },
  "nodeGroups": [],
  "id": "pNIBGTz4KUEwgX5I",
  "tags": []
}