Audit/Documentation/Workflow JSON SQL/ClearCare+ Complete Workflow.json
{
  "name": "ClearCare+ Complete Workflow",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Symptoms: \"{{ $(\"Symptom Check Webhook\").item.json.body.symptoms }}\"\nLanguage: {{ $json.language }}",
        "options": {
          "systemMessage": "You are the triage assistant for ClearCare+, a health-insurance navigation app for immigrants in Germany. You help users reach the RIGHT TYPE of doctor. You are a navigator, NOT a diagnostician.\n\nRULES:\n1. Recommend ONE doctor type only (e.g. General Practitioner, Dermatologist, Cardiologist, ENT, Orthopedist, Gynecologist, Pediatrician, Psychiatrist, Ophthalmologist, Dentist, Urologist, Gastroenterologist).\n2. NEVER name a disease, diagnosis, or treatment. If asked what is wrong, say you only help find the right doctor.\n3. \"urgency\" is EXACTLY one of: routine, soon, emergency.\n4. EMERGENCY OVERRIDE: if symptoms include red flags (chest pain, difficulty breathing, stroke signs, severe bleeding, fainting, suicidal thoughts, severe allergic reaction) set urgency=emergency, needs_human_review=true, recommended_doctor_type=\"Emergency (call 112)\", and tell the user to call 112 now.\n5. GERMAN REFERRAL RULE: specialists need a GP referral first. Set referral_required=true for a specialist; false for General Practitioner or Emergency.\n6. Write \"explanation_for_user\" in the user's language. Warm, simple, 1-2 sentences, no jargon.\n7. If symptoms are vague, default to General Practitioner. Prefer \"soon\" over \"routine\" if symptoms are painful, worsening, or persistent."
        }
      },
      "id": "1fde92dc-a9f1-42a8-a11b-ee26745f259f",
      "name": "Medical Triage Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        3200,
        1600
      ]
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {
          "maxTokensToSample": 4096,
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        3200,
        1792
      ],
      "id": "b2faedb7-318b-4360-bfed-8747985f8092",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "TIKZDJ5VDtZXZTdQ",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "symptom-check",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "204af312-7b9e-4554-8486-76125eda74fc",
      "name": "Symptom Check Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        2752,
        1600
      ],
      "webhookId": "cdd4927b-d331-4bb5-b1bd-0e809527ebd6"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "profiles",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.body.user_id }}"
            }
          ]
        }
      },
      "id": "01647755-cf9b-4ef6-991e-709b9d08dad6",
      "name": "Load User Profile",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2976,
        1600
      ],
      "credentials": {
        "supabaseApi": {
          "id": "y04Dro1zdqBdHu2V",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.urgency }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "rightValue": "emergency"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Continue"
        }
      },
      "id": "2d10c614-2063-4d10-85de-89fcf429de74",
      "name": "Route by Urgency",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        4000,
        1600
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "recommended_doctor_type",
              "value": "={{ $json.recommended_doctor_type }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "urgency",
              "value": "={{ $json.urgency }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "referral_required",
              "value": "={{ $json.referral_required }}",
              "type": "boolean"
            },
            {
              "id": "4",
              "name": "explanation_for_user",
              "value": "={{ $json.explanation_for_user }}",
              "type": "string"
            },
            {
              "id": "5",
              "name": "doctors",
              "value": "={{ [] }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "16cdd3f2-9ea9-4edc-a370-9703726e23a9",
      "name": "Emergency Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4224,
        1504
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "fd9257da-391a-4f77-9a15-e2111f397344",
      "name": "Respond Emergency",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        4448,
        1504
      ]
    },
    {
      "parameters": {
        "tableId": "consultations",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $(\"Symptom Check Webhook\").item.json.body.user_id }}"
            },
            {
              "fieldId": "symptoms",
              "fieldValue": "={{ $(\"Symptom Check Webhook\").item.json.body.symptoms }}"
            },
            {
              "fieldId": "recommended_doctor_type",
              "fieldValue": "={{ $(\"Code in JavaScript\").item.json.recommended_doctor_type }}"
            },
            {
              "fieldId": "urgency",
              "fieldValue": "={{ $(\"Code in JavaScript\").item.json.urgency }}"
            },
            {
              "fieldId": "referral_required",
              "fieldValue": "={{ $(\"Code in JavaScript\").item.json.referral_required }}"
            },
            {
              "fieldId": "needs_human_review",
              "fieldValue": "={{ $(\"Code in JavaScript\").item.json.needs_human_review }}"
            },
            {
              "fieldId": "language",
              "fieldValue": "={{ $(\"Load User Profile\").item.json.language }}"
            }
          ]
        }
      },
      "id": "3dc85957-3735-43f3-8aa8-765aec3f4553",
      "name": "Save Consultation",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4224,
        1696
      ],
      "credentials": {
        "supabaseApi": {
          "id": "y04Dro1zdqBdHu2V",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "doctors",
        "limit": 5,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "specialty",
              "condition": "eq",
              "keyValue": "={{ $(\"Code in JavaScript\").item.json.recommended_doctor_type }}"
            },
            {
              "keyName": "city",
              "condition": "eq",
              "keyValue": "={{ $(\"Load User Profile\").item.json.city }}"
            }
          ]
        }
      },
      "id": "d7df825f-323e-4db5-b977-d537e9488747",
      "name": "Find Matching Doctors",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4448,
        1696
      ],
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "y04Dro1zdqBdHu2V",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "recommended_doctor_type",
              "value": "={{ $(\"Code in JavaScript\").item.json.recommended_doctor_type }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "urgency",
              "value": "={{ $(\"Code in JavaScript\").item.json.urgency }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "referral_required",
              "value": "={{ $(\"Code in JavaScript\").item.json.referral_required }}",
              "type": "boolean"
            },
            {
              "id": "4",
              "name": "explanation_for_user",
              "value": "={{ $(\"Code in JavaScript\").item.json.explanation_for_user }}",
              "type": "string"
            },
            {
              "id": "5",
              "name": "doctors",
              "value": "={{ $(\"Find Matching Doctors\").all().map(d => d.json) }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "c29522d5-5a1d-4444-97d1-893cb78e786c",
      "name": "Merge Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4672,
        1696
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "441ab374-d95e-49cc-8471-20c5eae1aaf4",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        4896,
        1696
      ]
    },
    {
      "parameters": {
        "content": "## FLOW 1: Symptom Triage + Doctor Matching\nReceives symptoms, loads user profile, runs AI triage, routes emergencies, saves consultation, finds matching doctors, and responds with recommendations.",
        "height": 280,
        "width": 336,
        "color": 2
      },
      "id": "1bcac819-a0c7-4d1a-8e7b-b1aec8a77de6",
      "name": "Sticky Note 1ac11208",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2336,
        1536
      ]
    },
    {
      "parameters": {
        "content": "## FLOW 2: Find Doctors (live)\nGeocodes the user's postcode via Nominatim, queries OpenStreetMap (Overpass) for nearby doctors, normalizes the results, and responds with the list.",
        "height": 256,
        "width": 336,
        "color": 3
      },
      "id": "e27a0879-5b65-4401-90be-911f59ef83f1",
      "name": "Sticky Note 0ee0e56d",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2336,
        1984
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let t = ($json.output || \"\").trim();\nt = t.replace(/^```(?:json)?/i, \"\").replace(/```$/, \"\").trim();\n\nlet parsed;\ntry {\n  parsed = JSON.parse(t);                       // clean JSON case\n} catch (e) {\n  // Fallback: pull each field out of \"Key: value\" text\n  const get = (k) => {\n    const m = t.match(new RegExp(k + '\\\\s*[:=]\\\\s*\"?([^\"\\\\n]+)\"?', \"i\"));\n    return m ? m[1].trim() : null;\n  };\n  parsed = {\n    recommended_doctor_type: get(\"recommended_doctor_type\") || \"General Practitioner\",\n    urgency: (get(\"urgency\") || \"routine\").toLowerCase(),\n    referral_required: /true/i.test(get(\"referral_required\") || \"\"),\n    needs_human_review: /true/i.test(get(\"needs_human_review\") || \"\"),\n    explanation_for_user: get(\"explanation_for_user\") || t\n  };\n}\nreturn { json: parsed };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3552,
        1600
      ],
      "id": "276b89de-3451-4b97-a83f-a4698ec26ee0",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        3776,
        1600
      ],
      "id": "d799fa86-7662-4c61-8ff3-820bfdfdc560",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "find-doctors",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "9d89ee77-fa04-489c-b56b-61b9aa5988ea",
      "name": "Find Doctors Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        2752,
        2064
      ],
      "webhookId": "fd-webhook-uuid-001"
    },
    {
      "parameters": {
        "url": "https://nominatim.openstreetmap.org/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "postalcode",
              "value": "={{ $json.body.postcode }}"
            },
            {
              "name": "country",
              "value": "Germany"
            },
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "ClearCarePlus/1.0 (student project)"
            }
          ]
        },
        "options": {}
      },
      "id": "ebb65764-4cda-46c2-831c-9d7402b28788",
      "name": "Geocode (Nominatim)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2976,
        2064
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://overpass-api.de/api/interpreter",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "data",
              "value": "=[out:json][timeout:25];\n(\n  node[\"amenity\"=\"doctors\"](around:6000,{{ $json.lat || $json[0].lat }},{{ $json.lon || $json[0].lon }});\n  node[\"healthcare\"=\"doctor\"](around:6000,{{ $json.lat || $json[0].lat }},{{ $json.lon || $json[0].lon }});\n);\nout body 60;"
            }
          ]
        },
        "options": {}
      },
      "id": "41b577a1-91a0-4b5e-b392-87289f29a195",
      "name": "Overpass (Find Doctors)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3200,
        2064
      ]
    },
    {
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nconst els = resp.elements || [];\nconst MAP = { general:\"General Practitioner\", dermatology:\"Dermatologist\", cardiology:\"Cardiologist\", paediatrics:\"Pediatrician\", gynaecology:\"Gynecologist\", orthopaedics:\"Orthopedist\", psychiatry:\"Psychiatrist\", ophthalmology:\"Ophthalmologist\", otolaryngology:\"ENT\" };\nreturn els.filter(e => e.tags && e.tags.name).map(e => {\n  const t = e.tags;\n  const s = (t[\"healthcare:speciality\"] || \"\").split(\";\")[0].trim().toLowerCase();\n  return { json: {\n    osm_id: \"osm-\" + e.id,\n    name: t.name,\n    specialty: MAP[s] || (s || \"General Practitioner\"),\n    languages: t[\"language\"] || \"\",\n    street: [t[\"addr:street\"], t[\"addr:housenumber\"]].filter(Boolean).join(\" \"),\n    postcode: t[\"addr:postcode\"] || \"\",\n    city: t[\"addr:city\"] || \"\",\n    lat: e.lat, lon: e.lon,\n    phone: t.phone || t[\"contact:phone\"] || \"\",\n    website: t.website || t[\"contact:website\"] || \"\",\n    source: \"OSM\"\n  } };\n});"
      },
      "id": "f2cad0e9-84f5-4985-b9ae-59c226930955",
      "name": "Normalize Doctors",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3424,
        2064
      ]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "a77eb6cb-631f-4dfc-9df1-2fcd98d30cf9",
      "name": "Respond Doctors",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        3648,
        2064
      ]
    },
    {
      "parameters": {
        "tableId": "appointments",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $json.body.user_id }}"
            },
            {
              "fieldId": "doctor_name",
              "fieldValue": "={{ $json.body.doctor_name }}"
            },
            {
              "fieldId": "doctor_specialty",
              "fieldValue": "={{ $json.body.doctor_specialty }}"
            },
            {
              "fieldId": "doctor_address",
              "fieldValue": "={{ $json.body.doctor_address }}"
            },
            {
              "fieldId": "datetime",
              "fieldValue": "={{ $json.body.datetime }}"
            }
          ]
        }
      },
      "id": "2b7f785c-2f66-4d65-88e0-5525b3d8c47e",
      "name": "Create Appointment1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2976,
        2384
      ],
      "credentials": {
        "supabaseApi": {
          "id": "y04Dro1zdqBdHu2V",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"confirmed\" } }}",
        "options": {}
      },
      "id": "7cad5284-4d34-469c-8d23-17cdc4b5befd",
      "name": "Respond Booking1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        3200,
        2384
      ]
    },
    {
      "parameters": {
        "content": "## FLOW 3: Booking\nReceives booking request, creates appointment in Supabase, sends confirmation email, and responds with status.",
        "height": 216,
        "width": 336,
        "color": 4
      },
      "id": "cbe0040b-31fc-4d02-8ff2-c5523efd1144",
      "name": "Sticky Note a84fa8de1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2336,
        2336
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "book-appointment",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "6b08e547-2051-4a35-b38d-89aeb87fdb26",
      "name": "Booking Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        2752,
        2384
      ],
      "webhookId": "fc581d3f-604e-454f-a92f-316da3d3cdcf"
    },
    {
      "parameters": {
        "content": "## FLOW 4: Registration + Email Confirmation & Resend\nMirrors the app's Supabase Auth signup (script.js handleRegister / resendConfirmation).\n\n- **Register** calls Supabase Auth `/auth/v1/signup`, passing the profile fields as user metadata and `redirect_to` as the confirmation link target. Supabase then sends the branded \"Confirm signup\" email.\n- **Resend Confirmation** calls Supabase Auth `/auth/v1/resend` (type=signup) to send a fresh confirmation link.\n\nNOTE: the confirmation email is sent and templated by Supabase (Authentication > Emails > Templates), NOT by n8n. n8n only triggers it. The `apikey` header uses the publishable (anon) key.",
        "height": 536,
        "width": 332,
        "color": 5
      },
      "id": "422af8b6-16d0-46ab-bb8d-b38f680a46de",
      "name": "Sticky Note Flow4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2336,
        2672
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "register",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "4df16b67-86a9-4495-ae85-c5ffe830abdf",
      "name": "Register Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        2752,
        2768
      ],
      "webhookId": "a1b2c3d4-0001-4aaa-bbbb-registerhook01"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ossxctklhsoiiigixuvt.supabase.co/auth/v1/signup",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "redirect_to",
              "value": "https://pcsphsb.github.io/clearcare-plus/index.html"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "sb_publishable_ivwCyL4ilX00fpvfpIgZtg_hrxl-lbk"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"email\": \"{{ $json.body.email }}\",\n  \"password\": \"{{ $json.body.password }}\",\n  \"data\": {\n    \"first_name\": \"{{ $json.body.first_name }}\",\n    \"last_name\": \"{{ $json.body.last_name }}\",\n    \"birthdate\": \"{{ $json.body.birthdate }}\",\n    \"language\": \"{{ $json.body.language }}\"\n  }\n}",
        "options": {}
      },
      "id": "c025a5e5-7a02-48a1-ab5f-80d63ab7e678",
      "name": "Supabase Sign Up",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2976,
        2768
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"confirmation_sent\", \"email\": ($json.email || $json.user?.email || $('Register Webhook').item.json.body.email) } }}",
        "options": {}
      },
      "id": "a4029229-37af-4b2c-9f23-20112de9bb0b",
      "name": "Respond Registration",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        3200,
        2768
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "resend-confirmation",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "8e70b316-61d1-491e-85bf-f558ec0209c8",
      "name": "Resend Confirmation Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        2752,
        2992
      ],
      "webhookId": "a1b2c3d4-0002-4aaa-bbbb-resendhook002"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ossxctklhsoiiigixuvt.supabase.co/auth/v1/resend",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "redirect_to",
              "value": "https://pcsphsb.github.io/clearcare-plus/index.html"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "sb_publishable_ivwCyL4ilX00fpvfpIgZtg_hrxl-lbk"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"type\": \"signup\",\n  \"email\": \"{{ $json.body.email }}\"\n}",
        "options": {}
      },
      "id": "56ba0a63-f20b-440f-b2ae-aa1a181f1d84",
      "name": "Supabase Resend Confirmation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2976,
        2992
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"resent\" } }}",
        "options": {}
      },
      "id": "ebc3fc77-0464-4717-a478-ec5b5815712c",
      "name": "Respond Resend",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        3200,
        2992
      ]
    },
    {
      "parameters": {
        "content": "## FUTURE FEATURE: Emergency Response\nFuture feature branch which will include a smarter AI to identify possible emergency situations. Currently only identifies \"Chest Pain\" as an emergency from prior node (Route by Emergency)",
        "height": 184,
        "width": 544,
        "color": 2
      },
      "id": "392d9ac5-bd1c-42de-be10-7f2bb60efdd0",
      "name": "Sticky Note 1ac",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4128,
        1280
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Medical Triage Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Medical Triage Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Symptom Check Webhook": {
      "main": [
        [
          {
            "node": "Load User Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load User Profile": {
      "main": [
        [
          {
            "node": "Medical Triage Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Urgency": {
      "main": [
        [
          {
            "node": "Emergency Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save Consultation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Emergency Message": {
      "main": [
        [
          {
            "node": "Respond Emergency",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Consultation": {
      "main": [
        [
          {
            "node": "Find Matching Doctors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Matching Doctors": {
      "main": [
        [
          {
            "node": "Merge Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Response": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Route by Urgency",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Doctors Webhook": {
      "main": [
        [
          {
            "node": "Geocode (Nominatim)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Geocode (Nominatim)": {
      "main": [
        [
          {
            "node": "Overpass (Find Doctors)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Overpass (Find Doctors)": {
      "main": [
        [
          {
            "node": "Normalize Doctors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Doctors": {
      "main": [
        [
          {
            "node": "Respond Doctors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Appointment1": {
      "main": [
        [
          {
            "node": "Respond Booking1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Booking Webhook": {
      "main": [
        [
          {
            "node": "Create Appointment1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Register Webhook": {
      "main": [
        [
          {
            "node": "Supabase Sign Up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Sign Up": {
      "main": [
        [
          {
            "node": "Respond Registration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resend Confirmation Webhook": {
      "main": [
        [
          {
            "node": "Supabase Resend Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Resend Confirmation": {
      "main": [
        [
          {
            "node": "Respond Resend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "4e8b4d4b-0349-4e60-a2ee-a0803364781a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "be9b52dc8252215ea5a92389938ac9df68d87ce36092a9341a708e5263b4fcdb"
  },
  "nodeGroups": [],
  "id": "xh69iloQa5EHgLke",
  "tags": []
}