Audit/Documentation/Workflow JSON SQL/ClearCare+ Complete Workflow.json
{
  "name": "ClearCare+ Complete Workflow",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Symptoms: \"{{ $(\"Symptom Check Webhook\").item.json.body.symptoms }}\"\nLanguage: {{ $json.language }}",
        "options": {
          "systemMessage": "You are the triage assistant for ClearCare+, a health-insurance navigation app for immigrants in Germany. You help users reach the RIGHT TYPE of doctor. You are a navigator, NOT a diagnostician.\n\nRULES:\n1. Recommend ONE doctor type only (e.g. General Practitioner, Dermatologist, Cardiologist, ENT, Orthopedist, Gynecologist, Pediatrician, Psychiatrist, Ophthalmologist, Dentist, Urologist, Gastroenterologist).\n2. NEVER name a disease, diagnosis, or treatment. If asked what is wrong, say you only help find the right doctor.\n3. \"urgency\" is EXACTLY one of: routine, soon, emergency.\n4. EMERGENCY OVERRIDE: if symptoms include red flags (chest pain, difficulty breathing, stroke signs, severe bleeding, fainting, suicidal thoughts, severe allergic reaction) set urgency=emergency, needs_human_review=true, recommended_doctor_type=\"Emergency (call 112)\", and tell the user to call 112 now.\n5. GERMAN REFERRAL RULE: specialists need a GP referral first. Set referral_required=true for a specialist; false for General Practitioner or Emergency.\n6. Write \"explanation_for_user\" in the user's language. Warm, simple, 1-2 sentences, no jargon.\n7. If symptoms are vague, default to General Practitioner. Prefer \"soon\" over \"routine\" if symptoms are painful, worsening, or persistent."
        }
      },
      "id": "8e14eab8-7155-44f4-9030-35976f3bd05a",
      "name": "Medical Triage Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        528,
        176
      ]
    },
    {
      "parameters": {
        "jsonSchemaExample": {
          "recommended_doctor_type": "General Practitioner",
          "urgency": "routine",
          "referral_required": false,
          "needs_human_review": false,
          "explanation_for_user": "Based on your symptoms, I recommend seeing a General Practitioner."
        }
      },
      "id": "0c7d388a-5aa0-4bdf-ab6c-08ad92637dae",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        672,
        368
      ]
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {
          "maxTokensToSample": 4096,
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        528,
        368
      ],
      "id": "702391ba-e00d-4428-acf8-c555a897b7eb",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "TIKZDJ5VDtZXZTdQ",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "symptom-check",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "a3f23c6f-8385-48ac-88e7-5a329440930a",
      "name": "Symptom Check Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        96,
        256
      ],
      "webhookId": "cdd4927b-d331-4bb5-b1bd-0e809527ebd6"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "profiles",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.body.user_id }}"
            }
          ]
        }
      },
      "id": "c068a69b-5182-4434-8a6b-17de76a1503e",
      "name": "Load User Profile",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        320,
        256
      ],
      "credentials": {
        "supabaseApi": {
          "id": "y04Dro1zdqBdHu2V",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.urgency }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "rightValue": "emergency"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Continue"
        }
      },
      "id": "c8a1d0eb-0b11-49af-88b1-29072effcab3",
      "name": "Route by Urgency",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1264,
        256
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "recommended_doctor_type",
              "value": "={{ $json.output.recommended_doctor_type }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "urgency",
              "value": "={{ $json.output.urgency }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "referral_required",
              "value": "={{ $json.output.referral_required }}",
              "type": "boolean"
            },
            {
              "id": "4",
              "name": "explanation_for_user",
              "value": "={{ $json.output.explanation_for_user }}",
              "type": "string"
            },
            {
              "id": "5",
              "name": "doctors",
              "value": "={{ [] }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "a79f307a-e0a6-400b-8a73-c0ccb86af642",
      "name": "Emergency Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1504,
        144
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "afd407d1-dffe-4926-8569-d5f53d5d9991",
      "name": "Respond Emergency",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1728,
        144
      ]
    },
    {
      "parameters": {
        "tableId": "consultations",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $(\"Symptom Check Webhook\").item.json.body.user_id }}"
            },
            {
              "fieldId": "symptoms",
              "fieldValue": "={{ $(\"Symptom Check Webhook\").item.json.body.symptoms }}"
            },
            {
              "fieldId": "recommended_doctor_type",
              "fieldValue": "={{ $(\"Code in JavaScript\").item.json.recommended_doctor_type }}"
            },
            {
              "fieldId": "urgency",
              "fieldValue": "={{ $(\"Code in JavaScript\").item.json.urgency }}"
            },
            {
              "fieldId": "referral_required",
              "fieldValue": "={{ $(\"Code in JavaScript\").item.json.referral_required }}"
            },
            {
              "fieldId": "needs_human_review",
              "fieldValue": "={{ $(\"Code in JavaScript\").item.json.needs_human_review }}"
            },
            {
              "fieldId": "language",
              "fieldValue": "={{ $(\"Load User Profile\").item.json.language }}"
            }
          ]
        }
      },
      "id": "d2ad5568-109a-47e7-867f-f96673a0466b",
      "name": "Save Consultation",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1504,
        336
      ],
      "credentials": {
        "supabaseApi": {
          "id": "y04Dro1zdqBdHu2V",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "doctors",
        "limit": 5,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "specialty",
              "condition": "eq",
              "keyValue": "={{ $(\"Medical Triage Agent\").item.json.output.recommended_doctor_type }}"
            },
            {
              "keyName": "insurance_company",
              "condition": "eq",
              "keyValue": "={{ $(\"Load User Profile\").item.json.insurance_company }}"
            },
            {
              "keyName": "city",
              "condition": "eq",
              "keyValue": "={{ $(\"Load User Profile\").item.json.city }}"
            }
          ]
        }
      },
      "id": "0be49d1a-a81c-428e-9dbf-d9fbfb6444b0",
      "name": "Find Matching Doctors",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1728,
        336
      ],
      "credentials": {
        "supabaseApi": {
          "id": "y04Dro1zdqBdHu2V",
          "name": "Supabase account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "recommended_doctor_type",
              "value": "={{ $(\"Medical Triage Agent\").item.json.output.recommended_doctor_type }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "urgency",
              "value": "={{ $(\"Medical Triage Agent\").item.json.output.urgency }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "referral_required",
              "value": "={{ $(\"Medical Triage Agent\").item.json.output.referral_required }}",
              "type": "boolean"
            },
            {
              "id": "4",
              "name": "explanation_for_user",
              "value": "={{ $(\"Medical Triage Agent\").item.json.output.explanation_for_user }}",
              "type": "string"
            },
            {
              "id": "5",
              "name": "doctors",
              "value": "={{ $(\"Find Matching Doctors\").all().map(d => d.json) }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "30e1b4d9-dd32-445c-ba19-d3b55b394deb",
      "name": "Merge Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1952,
        336
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "110cc337-972b-425a-bd04-9f51f439abb8",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2176,
        336
      ]
    },
    {
      "parameters": {
        "content": "## FLOW 1: Symptom Triage + Doctor Matching\nReceives symptoms, loads user profile, runs AI triage, routes emergencies, saves consultation, finds matching doctors, and responds with recommendations.",
        "height": 376,
        "width": 224,
        "color": 2
      },
      "id": "005b208d-aaed-423b-abb6-369bbe4527d2",
      "name": "Sticky Note 1ac11208",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -208,
        112
      ]
    },
    {
      "parameters": {
        "content": "## FLOW 2: Find Doctors (live)\nGeocodes the user's postcode via Nominatim, queries OpenStreetMap (Overpass) for nearby doctors, normalizes the results, and responds with the list.",
        "height": 256,
        "width": 208,
        "color": 3
      },
      "id": "25aff4ff-6784-4365-879f-17478b3abc30",
      "name": "Sticky Note 0ee0e56d",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -208,
        608
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let t = ($json.output || \"\").trim();\nt = t.replace(/^```(?:json)?/i, \"\").replace(/```$/, \"\").trim();\n\nlet parsed;\ntry {\n  parsed = JSON.parse(t);                       // clean JSON case\n} catch (e) {\n  // Fallback: pull each field out of \"Key: value\" text\n  const get = (k) => {\n    const m = t.match(new RegExp(k + '\\\\s*[:=]\\\\s*\"?([^\"\\\\n]+)\"?', \"i\"));\n    return m ? m[1].trim() : null;\n  };\n  parsed = {\n    recommended_doctor_type: get(\"recommended_doctor_type\") || \"General Practitioner\",\n    urgency: (get(\"urgency\") || \"routine\").toLowerCase(),\n    referral_required: /true/i.test(get(\"referral_required\") || \"\"),\n    needs_human_review: /true/i.test(get(\"needs_human_review\") || \"\"),\n    explanation_for_user: get(\"explanation_for_user\") || t\n  };\n}\nreturn { json: parsed };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        256
      ],
      "id": "58ff3cea-e4bc-47a3-a586-7576ee4a3bb6",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1056,
        256
      ],
      "id": "d7bea94f-7ba6-453b-b80f-b720ed694fe0",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "find-doctors",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "d621783c-73f6-4296-8ddd-7ed7febb4071",
      "name": "Find Doctors Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        96,
        672
      ],
      "webhookId": "fd-webhook-uuid-001"
    },
    {
      "parameters": {
        "url": "https://nominatim.openstreetmap.org/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "postalcode",
              "value": "={{ $json.body.postcode }}"
            },
            {
              "name": "country",
              "value": "Germany"
            },
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "ClearCarePlus/1.0 (student project)"
            }
          ]
        },
        "options": {}
      },
      "id": "1c7fa09a-a76d-4de6-a19c-53506a0007c5",
      "name": "Geocode (Nominatim)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        672
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://overpass-api.de/api/interpreter",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "data",
              "value": "=[out:json][timeout:25];\n(\n  node[\"amenity\"=\"doctors\"](around:6000,{{ $json.lat || $json[0].lat }},{{ $json.lon || $json[0].lon }});\n  node[\"healthcare\"=\"doctor\"](around:6000,{{ $json.lat || $json[0].lat }},{{ $json.lon || $json[0].lon }});\n);\nout body 60;"
            }
          ]
        },
        "options": {}
      },
      "id": "2301590a-5737-4b61-a4de-3f2116a41e19",
      "name": "Overpass (Find Doctors)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        544,
        672
      ]
    },
    {
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nconst els = resp.elements || [];\nconst MAP = { general:\"General Practitioner\", dermatology:\"Dermatologist\", cardiology:\"Cardiologist\", paediatrics:\"Pediatrician\", gynaecology:\"Gynecologist\", orthopaedics:\"Orthopedist\", psychiatry:\"Psychiatrist\", ophthalmology:\"Ophthalmologist\", otolaryngology:\"ENT\" };\nreturn els.filter(e => e.tags && e.tags.name).map(e => {\n  const t = e.tags;\n  const s = (t[\"healthcare:speciality\"] || \"\").split(\";\")[0].trim().toLowerCase();\n  return { json: {\n    osm_id: \"osm-\" + e.id,\n    name: t.name,\n    specialty: MAP[s] || (s || \"General Practitioner\"),\n    languages: t[\"language\"] || \"\",\n    street: [t[\"addr:street\"], t[\"addr:housenumber\"]].filter(Boolean).join(\" \"),\n    postcode: t[\"addr:postcode\"] || \"\",\n    city: t[\"addr:city\"] || \"\",\n    lat: e.lat, lon: e.lon,\n    phone: t.phone || t[\"contact:phone\"] || \"\",\n    website: t.website || t[\"contact:website\"] || \"\",\n    source: \"OSM\"\n  } };\n});"
      },
      "id": "8da04f0f-b006-4f15-a103-f2792393ebc4",
      "name": "Normalize Doctors",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        672
      ]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "c5249296-870f-4c80-85f7-157620bcf392",
      "name": "Respond Doctors",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        976,
        672
      ]
    },
    {
      "parameters": {
        "tableId": "appointments",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $json.body.user_id }}"
            },
            {
              "fieldId": "doctor_name",
              "fieldValue": "={{ $json.body.doctor_name }}"
            },
            {
              "fieldId": "doctor_specialty",
              "fieldValue": "={{ $json.body.doctor_specialty }}"
            },
            {
              "fieldId": "doctor_address",
              "fieldValue": "={{ $json.body.doctor_address }}"
            },
            {
              "fieldId": "datetime",
              "fieldValue": "={{ $json.body.datetime }}"
            }
          ]
        }
      },
      "id": "d39bc138-0117-480e-b0a9-d0586017249f",
      "name": "Create Appointment1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        320,
        1040
      ],
      "credentials": {
        "supabaseApi": {
          "id": "y04Dro1zdqBdHu2V",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"confirmed\" } }}",
        "options": {}
      },
      "id": "8095ee37-535a-4167-8426-961cefe0ae78",
      "name": "Respond Booking1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        768,
        1040
      ]
    },
    {
      "parameters": {
        "content": "## FLOW 3: Booking\nReceives booking request, creates appointment in Supabase, sends confirmation email, and responds with status.",
        "height": 280,
        "width": 208,
        "color": 4
      },
      "id": "28862dc7-e98e-4ccc-99ce-0269c56cdb07",
      "name": "Sticky Note a84fa8de1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -208,
        944
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "book-appointment",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "e727f05d-b819-4520-9a27-0a6a93679cf7",
      "name": "Booking Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        96,
        1040
      ],
      "webhookId": "fc581d3f-604e-454f-a92f-316da3d3cdcf"
    },
    {
      "parameters": {
        "content": "## FLOW 4: Registration + Email Confirmation & Resend\nMirrors the app's Supabase Auth signup (script.js handleRegister / resendConfirmation).\n\n- **Register** calls Supabase Auth `/auth/v1/signup`, passing the profile fields as user metadata and `redirect_to` as the confirmation link target. Supabase then sends the branded \"Confirm signup\" email.\n- **Resend Confirmation** calls Supabase Auth `/auth/v1/resend` (type=signup) to send a fresh confirmation link.\n\nNOTE: the confirmation email is sent and templated by Supabase (Authentication > Emails > Templates), NOT by n8n. n8n only triggers it. The `apikey` header uses the publishable (anon) key.",
        "height": 360,
        "width": 380,
        "color": 5
      },
      "id": "f4a00000-0000-4000-8000-000000000001",
      "name": "Sticky Note Flow4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -208,
        1336
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "register",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "f4a00000-0000-4000-8000-000000000002",
      "name": "Register Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        96,
        1400
      ],
      "webhookId": "a1b2c3d4-0001-4aaa-bbbb-registerhook01"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ossxctklhsoiiigixuvt.supabase.co/auth/v1/signup",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "redirect_to",
              "value": "https://pcsphsb.github.io/clearcare-plus/index.html"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "sb_publishable_ivwCyL4ilX00fpvfpIgZtg_hrxl-lbk"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"email\": \"{{ $json.body.email }}\",\n  \"password\": \"{{ $json.body.password }}\",\n  \"data\": {\n    \"first_name\": \"{{ $json.body.first_name }}\",\n    \"last_name\": \"{{ $json.body.last_name }}\",\n    \"birthdate\": \"{{ $json.body.birthdate }}\",\n    \"language\": \"{{ $json.body.language }}\"\n  }\n}",
        "options": {}
      },
      "id": "f4a00000-0000-4000-8000-000000000003",
      "name": "Supabase Sign Up",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        1400
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"confirmation_sent\", \"email\": ($json.email || $json.user?.email || $('Register Webhook').item.json.body.email) } }}",
        "options": {}
      },
      "id": "f4a00000-0000-4000-8000-000000000004",
      "name": "Respond Registration",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        560,
        1400
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "resend-confirmation",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "f4a00000-0000-4000-8000-000000000005",
      "name": "Resend Confirmation Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        96,
        1560
      ],
      "webhookId": "a1b2c3d4-0002-4aaa-bbbb-resendhook002"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ossxctklhsoiiigixuvt.supabase.co/auth/v1/resend",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "redirect_to",
              "value": "https://pcsphsb.github.io/clearcare-plus/index.html"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "sb_publishable_ivwCyL4ilX00fpvfpIgZtg_hrxl-lbk"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"type\": \"signup\",\n  \"email\": \"{{ $json.body.email }}\"\n}",
        "options": {}
      },
      "id": "f4a00000-0000-4000-8000-000000000006",
      "name": "Supabase Resend Confirmation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        1560
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"resent\" } }}",
        "options": {}
      },
      "id": "f4a00000-0000-4000-8000-000000000007",
      "name": "Respond Resend",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        560,
        1560
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Medical Triage Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Medical Triage Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Symptom Check Webhook": {
      "main": [
        [
          {
            "node": "Load User Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load User Profile": {
      "main": [
        [
          {
            "node": "Medical Triage Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Urgency": {
      "main": [
        [
          {
            "node": "Emergency Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save Consultation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Emergency Message": {
      "main": [
        [
          {
            "node": "Respond Emergency",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Consultation": {
      "main": [
        [
          {
            "node": "Find Matching Doctors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Matching Doctors": {
      "main": [
        [
          {
            "node": "Merge Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Response": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Route by Urgency",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Doctors Webhook": {
      "main": [
        [
          {
            "node": "Geocode (Nominatim)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Geocode (Nominatim)": {
      "main": [
        [
          {
            "node": "Overpass (Find Doctors)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Overpass (Find Doctors)": {
      "main": [
        [
          {
            "node": "Normalize Doctors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Doctors": {
      "main": [
        [
          {
            "node": "Respond Doctors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Appointment1": {
      "main": [
        [
          {
            "node": "Respond Booking1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Booking Webhook": {
      "main": [
        [
          {
            "node": "Create Appointment1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Register Webhook": {
      "main": [
        [
          {
            "node": "Supabase Sign Up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Sign Up": {
      "main": [
        [
          {
            "node": "Respond Registration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resend Confirmation Webhook": {
      "main": [
        [
          {
            "node": "Supabase Resend Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Resend Confirmation": {
      "main": [
        [
          {
            "node": "Respond Resend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "efaee0ee-8223-4358-92f4-e957c814c6c9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "be9b52dc8252215ea5a92389938ac9df68d87ce36092a9341a708e5263b4fcdb"
  },
  "nodeGroups": [],
  "id": "xh69iloQa5EHgLke",
  "tags": []
}